{% extends "base.html" %}
{% block title %}Iniciar sesión — Prode Mundial{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-body p-4">

          <h1 class="h4 mb-1 text-center">Iniciar sesión</h1>
          <p class="text-muted text-center small mb-4">Ingresá para cargar tus pronósticos</p>

          <form method="post" novalidate class="mb-4 w-100 text-center">
            {% csrf_token %}
          
            {% if form.non_field_errors %}
            <div class="alert alert-danger py-2">
              {{ form.non_field_errors }}
            </div>
            {% endif %}
          
            {% for field in form %}
            <div class="mb-4 w-100 text-center">
              <label for="{{ field.id_for_label }}" class="form-label fw-semibold w-100">
                {{ field.label }}
              </label>
              <div class="w-100 ">
                {{ field.as_widget }}
              </div>
          
              {% if field.help_text %}
              <div class="form-text">
                {{ field.help_text }}
              </div>
              {% endif %}
          
              {% for error in field.errors %}
              <div class="invalid-feedback d-block">
                {{ error }}
              </div>
              {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success mt-2">
              Entrar
            </button>
          </form>

          <p class="mt-4 text-center small">
            ¿No tenés cuenta?
            <a href="{% url 'accounts:register' %}">Registrate</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}